<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">My name is Andrej Rolih. I am an iOS developer from Ljubljana, Slovenia. Currently working at <a style="color: white;" href="http://kamino.si/">Kamino</a>, where we make awesome mobile applications for both Android and iOS.</p>
                <p lass="text-faded">When I am not at work I usually tinker around on one of my side projects. These are usually crazy (and not so crazy) hardware projects - often to do with microcontrollers (ARM - STM and Nordic), clocks, home automation, 3D Printing and CNC, drones and other RC, and much more. I also collect and restore retro computers and consoles from 70s to early 2000s. A small collection of my more interesting projects (that I actually documented) is listed below.</p>
                <a href="#portfolio" class="btn btn-default btn-xl">My projects</a>
            </div>
        </div>
    </div>
</section>
